.btnAddContact{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: orange;
  font-size: 30px;
  color: azure;
  position: relative;
}
.btnAddContact:before{
  content: "+";
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}