.header{
  height: 70px;
  background: #1c1c25;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 120px;
  padding: 0 20px;
  justify-content: space-around;
}
.logo{
  //background-image: url("public/logo.png");
  //height: 100%;
  //width: 250px;
  //background-size: contain;
  //background-repeat: no-repeat;
  font-size: 30px;
  color: azure;
  font-family: monospace, sans-serif;
}
.inputBtn{
  display: flex;
  gap: 50px;
}